
\[TFB\]\[1.18\+Fabric\]Anthro_Origins_v1.jar

backup test/

moborigins-1.8.0.jar

\[TFB\]\[1.17\+Fabric\]Anthro_Origins_v1.1.jar

\[TFB\]\[1.17\+Fabric\]Anthro_Origins_v1.2.jar

\[TFB\]\[1.18\+Fabric\]Anthro_Origins_v1.1.jar

\[TFB\]\[1.18\+Fabric\]Anthro_Origins_v1.2.jar

\[TFB\]\[1.17\+Fabric\]Anthro_Origins_v1.1.jar

\[TFB\]\[1.17\+Fabric\]Anthro_Origins_v1.2.jar

\[TFB\]\[1.18\+Fabric\]Anthro_Origins_v1.1.jar

\[TFB\]\[1.18\+Fabric\]Anthro_Origins_v1.2.jar

forge/

Origins-Classes-1.17-1.2.2.jar

Origins-Classes-1.18-1.2.4.jar

forge-1.16.5-36.2.20-installer.jar

forge-1.16.5-36.2.20-mdk.zip

\[TFB\]\[1.17\+Fabric\]Anthro_Origins_v1.3.jar

\[TFB\]\[1.18\+Fabric\]Anthro_Origins_v1.3.jar
